CMakeFiles
CMakeCache.txt
compile_commands.json
cmake_install.cmake
.cache
*.a
*.so
*.cmake
Makefile
*nsys-rep
*perf.data*
image.tar
*.swp
bin/*
build
logs/
**/*.wpilog
bos_logs/
wpilib-install
*.jpg
interesting_frames/
*build*/
**/*.log
cmake-4.3.2-linux-aarch64/
test-output/
